.title {color:red;}

 .background: green;

 font-size: 10px

 font-weight: 600;

  .div{width:auto}
  
  margin-top: 60px;

  margin-left: 60px

  margin-right:  60PX;

  margin-botton:  60PX;

  margin: 60px;

  .borger {width: 100px;
height: 100px
background: red;}

.borger{3px solid block; 
width: 400px;
height: red}

margin-top: 600px
margin-left: 300p
}





